<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Demo">

<test name ="Ecommerce Test cases">
	<classes>
	<class name= "com.demo.testcases.LoginPageTest"></class>
	<class name= "com.demo.testcases.HomePageTest"></class>
	</classes>
	</test>


</suite>